.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background: #ffffff;
  font-family: "roboto", sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-transition-property: fill, color, background-color, -webkit-box-shadow;
  transition-property: fill, color, background-color, -webkit-box-shadow;
  transition-property: fill, color, background-color, box-shadow;
  transition-property: fill, color, background-color, box-shadow, -webkit-box-shadow;
}

h1,
h2,
h3,
p {
  margin: 0;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 94px 0px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  max-width: 480px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.link {
  color: #212121;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .link {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .list__item:not(:last-child) {
    margin-right: 50px;
  }
}
.list .link:hover,
.list .link:focus {
  color: #2196F3;
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 42px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: inherit;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-left: 0px;
    margin-right: 88px;
  }
}

.logo--blue {
  color: #2196F3;
}
.logo--blue:hover, .logo--blue:focus {
  color: #212121;
}

.logo--black {
  color: #212121;
}
.logo--black:hover, .logo--black:focus {
  color: #2196F3;
}

.footer__logo {
  margin-top: 0;
  padding-bottom: 20px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    padding: 0 0 20px;
  }
}

.footer__logo--blue {
  color: #2196F3;
}
.footer__logo--blue:hover, .footer__logo--blue:focus {
  color: #ffffff;
}

.logo--white {
  color: #ffffff;
}
.logo--white:hover, .logo--white:focus {
  color: #2196F3;
}

.header__section {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    margin-left: 15px;
    padding-left: 0;
  }
}

.link--current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .link--current {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .link--current::after {
    content: "";
    position: absolute;
    top: 200%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .link--current::after {
    top: 95%;
  }
}

.contacts__list {
  margin-left: auto;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header__container .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    color: #2196F3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list {
    display: block;
    margin: auto 96px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list.contacts__list .list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.nav__link {
  margin-left: auto;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav__link {
    display: none;
  }
}
.link__icon-header {
  margin-right: 10px;
  fill: currentColor;
  overflow: hidden;
  vertical-align: -0.15em;
  font-size: inherit;
}

@media screen and (max-width: 767px) {
  .link__icon-header {
    display: none;
  }
}
.menu-container {
  display: none;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
}
@media screen and (max-width: 767px) {
  .menu-container.is-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    overflow-y: scroll;
    z-index: 9;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    padding: 48px 40px;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}
.site-menu__item:not(:last-child) {
  margin-top: 32px;
  margin-bottom: 64px;
}

.site-menu__link {
  font-weight: 500;
  color: #212121;
  font-size: 40px;
  line-height: 1.18;
}

.mobile-menu__wrep {
  margin-top: 306px;
}

.mobile-contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts-list__tel {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-contacts-list__mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .mobile-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px;
  }
  .mobile-social-list__item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-social-list__item:not(:last-child)::after {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-left: 10px;
  }
  .mobile-social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
  }
}
.hero {
  min-width: 480px;
  min-height: 400px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-color: #c4c4c4;
}
@media (max-width: 479px) {
  .hero {
    min-width: 100vw;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile-@2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    min-width: 768px;
    min-height: 459px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    min-width: 1200px;
    min-height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop@2x.jpg);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: #ffffff;
  background: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  padding: 10px 32px;
}
.button.primary:hover, .button.primary:focus {
  background-color: #188CE8;
}

.button.secondary {
  color: #212121;
  background: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  padding: 6px 26px;
  border-color: transparent;
  -o-border-image: none;
     border-image: none;
  border-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover, .button.secondary:focus {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .button.secondary {
    min-width: 73px;
    padding: 6px 22px;
  }
}

.backdrop__btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.backdrop__btn-submit:hover, .backdrop__btn-submit:focus {
  background-color: #188CE8;
}

.footer__btn-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn-footer:hover, .footer__btn-footer:focus {
  background-color: #188CE8;
}

.footer__follow-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.clients {
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 372px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}
@media screen and (min-width: 480px) {
  .clients__link {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link:nth-child(6n) {
  margin-right: 0;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover, .clients__icon:focus {
  fill: #2196F3;
}

.employment {
  padding-top: 0;
  background-color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .employment {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .employment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.employment__headline--position {
  position: relative;
  margin-right: 30px;
}
.employment__headline--position:last-child {
  margin-right: 0;
}

.employment__workspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employment__headline {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .peculiarities__list {
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .peculiarities__link:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .peculiarities__link {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__link {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.peculiarities__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F5F5;
}

.peculiarities__icon {
  height: 70px;
  width: 70px;
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  font-weight: 700px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__work {
  margin: 0;
  line-height: 1.71;
}

.team {
  background-color: #F5F4FA;
}

.team__list {
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__link--img {
  margin-bottom: 30px;
}

.social__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__link {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__specialty {
  padding-top: 28px;
  padding-bottom: 28px;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__profession {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__sitelink {
  display: inline-block;
  fill: currentColor;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__sitelink:focus, .social__sitelink:hover {
  background-color: #2196F3;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #AFB1B8;
  margin-right: 10px;
  padding: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon:nth-child(4n) {
  margin-right: 0;
}
.social__icon:hover, .social__icon:focus {
  fill: #ffffff;
}

.footer .social__sitelink {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social__sitelink:nth-child(4n) {
  margin-right: 0;
}
.footer .social__sitelink:hover, .footer .social__sitelink:focus {
  fill: #ffffff;
  background-color: #2196F3;
}

.footer .social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  height: 44px;
}

.backdrop {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 450px) {
  .backdrop__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    min-width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop__modal-title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
}

.backdrop__modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: currentColor;
  outline: transparent;
  -webkit-transition: stroke 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__modal-icon {
  width: 11px;
  height: 11px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__modal-icon:hover, .backdrop__modal-icon:focus {
  color: #2196F3;
}

textarea {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  -webkit-transition: outline 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__form-field {
  position: relative;
  margin-bottom: 10px;
}

.backdrop__form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop__form-field input:focus,
.backdrop__form-field textarea:focus {
  outline: #2196F3;
  border-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop__form-field input,
.backdrop__form-input textarea {
  display: block;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__form-field input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__form-field input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__form-field input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__form-field input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__form-field input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__form-field input[type=checkbox] {
  width: 16px;
  height: 15px;
  border-color: #212121;
  border: 2px;
  border-radius: 2px;
}

.backdrop__form-svg {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__form-field input:focus + .backdrop__form-svg {
  fill: #2196F3;
}

.backdrop__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border-radius: 2px;
}

.backdrop__custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #212121;
}

.backdrop__checkbox-icon {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.backdrop__checkbox:checked + .backdrop__custom-checkbox {
  background-color: #2196F3;
  border: 1px solid #2196F3;
}

.backdrop__checkbox:checked + .backdrop__custom-checkbox .backdrop__checkbox-icon {
  opacity: 1;
  fill: #ffffff;
}

.backdrop__option-span {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop__form-link {
  text-decoration: underline;
  color: #2196F3;
}

.footer__section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #212121;
}
@media screen and (min-width: 1200px) {
  .footer__section {
    margin-top: 0;
  }
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__emblem {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__emblem {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__emblem {
    margin-right: 70px;
  }
}

.footer__address {
  padding-bottom: 8px;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address:hover, .footer__address:focus {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    padding-bottom: 0;
  }
}

.footer-contact {
  padding-bottom: 8px;
}
.footer-contact:last-child {
  padding-bottom: 0;
}

.contacts-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  color: #ffffff;
  opacity: 0.6;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 9px;
  }
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: #2196F3;
}

.footer__follow {
  display: block;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__follow {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 12px;
    margin-right: 93px;
  }
}

.footer__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social__icon--color {
  background-color: #2196F3;
  fill: var(--accent-color);
}

.social__sitelink {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__action {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
}
@media screen and (min-width: 1200px) {
  .footer__action {
    display: block;
    width: 570px;
    height: 86px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__form-mail {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer__join-mail {
    margin-top: 12px;
  }
}
.footer__join-mail::-webkit-input-placeholder {
  padding-left: 16px;
}
.footer__join-mail::-moz-placeholder {
  padding-left: 16px;
}
.footer__join-mail:-ms-input-placeholder {
  padding-left: 16px;
}
.footer__join-mail::-ms-input-placeholder {
  padding-left: 16px;
}
.footer__join-mail::placeholder {
  padding-left: 16px;
}

.footer__join-mail {
  height: 50px;
  width: 450px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #212121;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .footer__join-mail {
    width: 358px;
    margin-right: 12px;
    padding: 15px 16px;
  }
}

.project__filters {
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .project__filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    row-gap: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .project__filters {
    margin-bottom: 30px;
  }
}

.project__btn-filters {
  display: inline;
}
@media screen and (max-width: 767px) {
  .project__btn-filters {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .project__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__flex-emelent {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .project__flex-emelent {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .project__flex-emelent {
    margin-bottom: 30px;
  }
}
.project__link {
  display: block;
  text-decoration: none;
  border: 1px solid #eee;
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.project__overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.project__overlay-wrapper > img {
  -o-object-fit: cover;
     object-fit: cover;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project__overlay-title {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__flex-emelent:hover .project__overlay-title {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__name-title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.project__name-work {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__work {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
}/*# sourceMappingURL=main.css.map */