.project__filters {
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (max-width:767px) {
    display: flex;
    gap: 8px;
    row-gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
      margin-bottom: 30px;
    }
}

.project__btn-filters {
  display: inline;

  @media screen and (max-width:767px) {
      margin-bottom: 40px;
  }
}


.project__flex {
  @media screen and (min-width: $tablet) {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.project__flex-emelent {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px)/2);
  }
}

.project__flex-emelent {
  @media screen and (min-width: $desktop) {
  flex-basis: calc((100% - 60px)/3);
  }
}

@media screen and (max-width:767px) {
  .project__flex-emelent {
    margin-bottom: 30px;
  }
}

.project__link{
  display: block;
  text-decoration: none;
  border: 1px solid #eee;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width:$tablet) and (max-width: 1199px){
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.project__overlay-wrapper {
  position: relative;
  overflow: hidden;
}


.project__overlay-wrapper>img {
  object-fit: cover;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.project__overlay-title {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $accent-color;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(110%);
  transition: $duration;
}

.project__flex-emelent:hover .project__overlay-title {
  transform: translateY(0);
}


.project__name-title {
  margin-bottom: 4px;
  color: $title-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.project__name-work {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
  flex-grow: 1;
}

.project__work {
  margin-top: 0;
  margin-bottom: 0;
  color: $main-color;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
}